# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mortgage_uw
DB_ECHO=false

# API
API_HOST=0.0.0.0
API_PORT=8000
API_DEBUG=false

# Security
SECRET_KEY=your-secret-key-here
JWT_EXPIRATION=86400

# CORS
CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000"]

# Logging
LOG_LEVEL=INFO
